<p [ngClass]="[estilos, azul]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit saepe id ratione eaque?
    Similique quaerat rerum at quisquam tempora aperiam id! Veniam unde pariatur quo sequi rerum quam eaque ratione.</p>

<p [ngClass]="{'fondoRojo': activo, 'fondoAzul': !activo}">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Totam aut quis sunt laboriosam minus ea
    laudantium consectetur. Officiis ratione nemo, nisi eveniet possimus aliquid facilis hic voluptatum voluptas
    voluptatem nam!</p>

<button (click)="cambiarActivo()">Cambiar</button>