@font-face {
    font-family: 'Ubuntu';
    src: url(../../assets/fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../../assets/fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
}