<section class="mt-3 container">
    <h1>Tu eliges</h1>
    <hr>
</section>
<section class="mt-3 container">
    <div class="shadow d-flex justify-content-center align-items-center vh-100">
        <div class=" d-flex justify-content-center align-items-center">
            <article class="col-6">
                <figure>
                    <img class="image-fluid imagen" src="../../../assets/viagra.png" alt="" [routerLink]="['/loggin']">
                </figure>
            </article>
            <article class="col-6">
                <figure>
                    <img class="image-fluid imagen" src="../../../assets/pngwing.com.png" alt=""
                        [routerLink]="['/register']">
                </figure>
            </article>
        </div>
    </div>
</section>