extends layout

block content
  h1(class="text-center text-white mt-2 title" id="title") IpeChat
  h3(id= 'users', class='text-warning mt-1 users text-center')
  div(class="shadow mt-3 container chatBox p-4 border border-dark rounded-top")
    ul(class="mensajes" id="mensajes")
  div(class="container bg-black p-4 d-flex justify-content-between gap-4 rounded-bottom")
    input(type="text" id="inputNombre" placeholder="Nickname" class="p-2" value="[The_Rana]")
    input(class="w-100" type="text" id="inputMensaje" placeholder="Mensaje" class="p-2")
    button(class="btn btn-primary btn-small" id="enviar") Enviar

  
  script.
    const socket = io();
    const inputNombre = document.getElementById('inputNombre');
    const inputMensaje = document.getElementById('inputMensaje');
    const btnEnviar = document.getElementById('enviar');
    const boxMsj = document.getElementById('mensajes');
    const boxUsers = document.getElementById('users');

    btnEnviar.addEventListener('click', (event) => {
      const obj = {
        username: inputNombre.value,
        text: inputMensaje.value,
        socket_id: socket.id
      };
      socket.emit('mensajeChat', obj);
    });

    socket.on('mensajeChat', (data) => {
      const nodo = document.createElement('li');
      nodo.innerText = `${data.username}: ${data.text}`;
      if (data.socket_id === socket.id) nodo.classList.add('propietario');
      if (data.username === 'INFO') nodo.classList.add('info')
      boxMsj.appendChild(nodo);
      
    });
    
    socket.on('usuariosChat', (users) => {
      //- boxUsers.innerText = ``
      boxUsers.innerText = `Usuarios conectados: ${users}`
    })
