@use 'variables'as var;

@mixin header {
    background: var.$background-header;
    padding-inline: 10%; //pongo padding del 10% a cada lado
    animation: movimientoHeader 2s ease;

    @keyframes movimientoHeader {
        0% {
            transform: translate(0, -100px);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}
@mixin main-menu {
    display: flex; //pongo display flex a la caja del main menu

    @media (max-width:871px) {
        flex-direction: column;
    }
}
@mixin logo {
    width: var.$img-logo;
    height: var.$img-logo;
    background-size: cover;
    margin-inline-end: 2%;
    margin-block: 1%;

    @media (max-width:871px) {
        display: none;
    }
}
@mixin main-menu__links {

    margin-right: auto;
    font-size: 1.4rem;
    align-self: center;
    display: flex;
    gap: 2rem;

    @media (max-width:871px) {
        margin: auto;
    }
}
@mixin menu-link {
    color: var.$color-link;
    text-decoration: none;
}
@mixin search {
    align-self: center;
}
@mixin item-search {
    height: var.$search-height;

}
@mixin btn-search {
    height: var.$search-height;
    background-color: var.$background-btn;
}
@mixin container {
    width: 80%;
    margin-inline: auto;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

    @media (max-width:992px) {
        flex-direction: column;
    }

    @media (max-width:768px) {
        width: 95%;
    }
}
@mixin section {
    flex: 8;

}
@mixin red-box {
    background-color: var.$bg-red-box;
    margin-block-end: 1rem;
    font-size: 1.5rem;
    animation: movimientoHorizontal1 2s ease;

    @keyframes movimientoHorizontal1 {
        0% {
            transform: translate(-50px, 0);
        }

        100% {
            transform: translate(0, 0);
        }
    }

}
@mixin title {
    text-align: center;

}
@mixin img-box {
    position: float;
    float: left;
    margin: 2%;
    box-sizing: border-box;

}
@mixin red-box-after {
    clear: both;
    content: "";
    display: block;
}
@mixin blue {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-block-end: 1rem;

    @media (max-width:871px) {
        flex-wrap: wrap;
    }

    @media (max-width:768px) {
        flex-direction: column;
    }

}
@mixin content-blue {
    flex: 1;
    background-color: var.$color-blue;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
    animation: movimientoHeader 2s ease;
}
@mixin blue-icons {
    width: var.$blue-icons;
    margin: 1rem;
}
@mixin title-blue {
    text-align: center;
    text-transform: uppercase;
    margin-block: 1.5rem;
}
@mixin box-gray {
    background-color: var.$bg-box-gray;
    color: var.$pure-white;
    text-align: center;
    padding: 2rem;
    animation: movimientoHorizontal1 2s ease;
}
@mixin aside {
    flex: 2;
    text-align: center;
    background-color: var.$aside-color;

    @media (max-width:768px) {
        padding-block-end: 5%;
    }

    animation: movimientoHorizontal2 2s ease;

    @keyframes movimientoHorizontal2 {
        0% {
            transform: translate(50px, 0);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}
@mixin title-aside {
    font-size: 1.5rem;
    padding-block-start: 2rem;
}
@mixin aside-links {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding-block: 1rem;
}
@mixin aside-link {
    text-decoration: none;
    color: var.$pure-black;
    border-bottom: 1px solid var.$pure-black;
    padding: 0.5rem;
    margin-inline: 4%;
}
@mixin rrss {
    font-size: 2rem;
}
@mixin footer {
    margin-block-start: 1rem;
    background-color: var.$pure-gray;
    text-align: center;
    font-size: 1.5rem;
    color: var.$pure-white;
}