$background-header: hsl(216, 98%, 52%);
$img-logo: 80px;
$color-link: hsl(0, 0%, 100%);
$search-height: 2rem;
$background-btn: hsl(51, 100%, 50%);
$bg-red-box: hsl(348, 83%, 47%);
$color-blue: hsl(189, 76%, 56%);
$blue-icons: 3rem;
$bg-box-gray: hsl(0, 0%, 30%);
$aside-color: hsl(51, 100%, 50%);
$pure-white: hsl(0, 0%, 100%);
$pure-black: hsl(0, 0%, 0%);
$pure-gray: hsl(0, 0%, 30%);

