<input type="range" min="10" max="60" step="1" start="10" [value]="fontSize" (input)="changeFont($event)">
<p [ngStyle]="{'background-color': bgColor, 'color': 'white', 'padding': '20px', 'font-size': fontSize + 'px'}">Lorem
    ipsum dolor
    sit amet
    consectetur
    adipisicing elit.
    Aliquid cupiditate corrupti quaerat dicta impedit eaque, nam
    eligendi tenetur. Natus officiis aperiam quis tempora dolorem dolore atque explicabo tenetur asperiores! Ipsum?</p>

<hr>

<input type="text" placeholder="introduce una propiedad css" [(ngModel)]="propiedad"> <br>
<input type="text" placeholder="introduce el valor de la propiedad" [(ngModel)]="valor"><br>
<button (click)="aplicaEstilo()">Aplicar</button>
<p [ngStyle]="estilo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ducimus, sunt quidem possimus
    quaerat, animi sint
    assumenda a neque exercitationem totam vero cupiditate velit nesciunt. Voluptate minus dolores eos tenetur.</p>