body {
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}

.container {
    width: 80%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .title{
    font-size: 2.5rem;
}

.entry-task {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-task {
        width: 20rem;
        border-radius: 10px;
        padding: 1rem;
    }

    .form-check {
        padding: 2rem;
        font-size: 1.5rem;

    }
    
    .btn {
        background-color: green;
        color: white;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
    }
}

.tasks {
    margin-block-start: 2rem;
    border: 2px solid white;
    padding: 1rem;
    align-items: center;

    .title-tasks{
        text-align: center;
        font-size: 2rem;
    }

    .task {
        display: flex;
        flex-direction: column;

        .single-task{
            display: flex;
        }

        .delete {
            color: red;
            margin-left: auto;
        }
    }

}