@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
$fontFamily: 'Rubik', sans-serif;
$fontSize: 1em;
$marginGrid: 0.62em;
$primaryColor: #0D3E10;
$seondaryColor: #CC9D1C;
$breakPointTablet: 768px;
$breakPointDesktop: 1140px;