body {
    font-family: 'Montserrat', sans-serif;
}

/* =================== HEADER ================== */
.header {
    padding-inline: 10%;
    background-color: hsl(217, 95%, 54%);
    font-weight: 400;
    animation: movimientoHeader 2s ease;
}

.nav {
    display: flex;
}

.img-header {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    padding-block: 10px;
}

.nav-items{
    display: flex;
    list-style: none;
    padding: 0px;
    align-items: center;
    padding-inline: 10px;
}

.nav-item__link {
    color: white;
    padding-inline: 10px;
    text-decoration: none;

}

a {
    text-decoration: none;
}

div.search {
    margin-left: auto;
    align-self: center;
}

.search-boton{
    background-color: hsl(58, 100%, 43%);
    color: black;
    padding: 0.5rem;
}

.input-search {
    padding: 0.5rem;
}

@media (max-width: 900px) {
    
    .nav {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
    }

    div.search {
        margin: auto;
    }

    .nav-items {
        margin: auto;
    }

    .img-header {

        display: none;
    }
        
}

/* =============MAIN================ */

.main {
    padding-block: 2%;
    margin-inline: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 69% 29%;
    column-gap: 2%;
}

@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
        gap: 1%;
    }
}

@media (max-width: 450px) {
    .main {
        /* display: grid; */
        width: 100%;
      
    }
}

.article {
    display: grid;
    grid-template-rows: 1fr 1fr 20%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
}


.test1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: hsl(348, 83%, 47%);
    padding-top: 5%;
    animation: movimientoHorizontal1 2s ease;
} 

.test1 > h2 {
    text-align: center;
}

.test1 > .img-test1::after {
    content: '';
    display: block;
    clear: both;
}

.img-test1 {
    width: 150px;
    float: left ;
    margin-inline-start: 2%;
    box-sizing: content-box;
}


@media (max-width: 450px) {
    .img-test1 {
        width: 150px;
        float: none;
        margin: auto;
        padding-block: 5px;
        box-sizing: content-box;
    }

}

.test2 {
    grid-column-start: 1;
    background-color: hsl(180, 100%, 50%);
    text-align: center;
    animation: movimientoHorizontal1 2s ease;
}


.test3 {
    grid-column-start: 2;
    background-color: hsl(180, 100%, 50%);
    text-align: center;
    padding: 10px;
    animation: movimientoHeader 2s ease;
}


.test4 {
    grid-column-start: 3;
    background-color: hsl(180, 100%, 50%);
    text-align: center;
    padding: 10px;
    animation: movimientoHorizontal2 2s ease;
}

.icon {
    width: 50px;
}


.test5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    background-color: hsl(0, 0%, 17%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: movimientoHorizontal1 2s ease;
}
@media (max-width: 450px) {
    .test5 {
        text-align: center;
    }
}

.articles-aside {
    padding: 4%;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid hsl(0, 0%, 0%);
}

.article5 {
    border: none;
}

.aside {
    background-color: hsl(58, 100%, 43%);
    text-align: center;
    padding: 2%;
    animation: movimientoHorizontal2 2s ease;
}


.rrss {
    padding-top: 10%;
}
/* ==============FOOTER============== */

.footer {
    background-color: hsl(0, 0%, 50%);
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: movimientoFooter 2s ease;
}

@media (max-width: 450px) {
    .footer {
        display: grid;
        margin-top: 5%;
    }
}

/* =============ANIMACIONES========== */

@keyframes movimientoHorizontal1 {
    0% {
        transform: translate(-50px, 0);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes movimientoHorizontal2 {
    0% {
        transform: translate(50px, 0);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes movimientoFooter {
    0% {
        transform: translate(0, 100px);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes movimientoHeader {
    0% {
        transform: translate(0, -100px);
    }
    100% {
        transform: translate(0,0);
    }
}